<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>word game</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body class="html">
  <center>
  <h1>Welcome to word game</h1>
  <form method="POST" action="/game">
    <div class="form-group">
      <input class="form-control form-control-lg" id="word" type="text" name="word[name]" placeholder="Enter the correct word!">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</center>
</body>
</html>